<template>
    <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
        <div id="m_ver_menu" class="m-aside-menu m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"
             m-menu-vertical="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500">
            <ul class="m-menu__nav m-menu__nav--dropdown-submenu-arrow">

                <template v-for="menu in menus">
                    <router-link v-if="!menu.children" tag="li" class="m-menu__item"
                                 exact-active-class="m-menu__item--active"
                                 :to="{name: menu.route.name}">
                        <a class="m-menu__link">
                            <i class="m-menu__link-icon" :class="menu.icon"></i>
                            <span class="m-menu__link-title">
                                <span class="m-menu__link-wrap">
                                    <span class="m-menu__link-text">{{ $t(menu.title)}}</span>
                                </span>
                            </span>
                        </a>
                    </router-link>
                    <li class="m-menu__item m-menu__item--submenu" v-else
                        :class="{' m-menu__item--expanded m-menu__item--open' : checkActiveRoute(menu.children)}">
                        <a href="javascript:;" class="m-menu__link m-menu__toggle">
                            <i class="m-menu__link-icon" :class="menu.icon"></i>
                            <span class="m-menu__link-text">{{ $t(menu.title) }}</span>
                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </a>

                        <div class="m-menu__submenu">
                            <span class="m-menu__arrow"></span>
                            <ul class="m-menu__subnav">
                                <router-link tag="li" :to="{name: item.route.name}"
                                             active-class="m-menu__item--active"
                                             class="m-menu__item"
                                             v-for="item in menu.children"
                                             :key="item.route.name">
                                    <a class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                        <span class="m-menu__link-text">{{ $t(item.title) }}</span>
                                    </a>
                                </router-link>
                            </ul>
                        </div>
                    </li>
                </template>
            </ul>
        </div>
    </div>
</template>

<script>
    import menus from './menuData'
    import mMenu from './menu'
    import { mapState } from 'vuex'

    export default {
        name: 'LeftAside',
        data () {
            return {
                menus: menus
            }
        },
        mounted () {
            this.$nextTick(() => {
                this.initMenu()
            })
        },
        methods: {
            initMenu () {
                let menu = new mMenu('m_ver_menu', {
                    submenu: {
                        desktop: {
                            default: 'accordion',
                            state: {
                                body: 'm-aside-left--minimize',
                                mode: 'dropdown'
                            }
                        },
                        tablet: 'accordion', // menu set to accordion in tablet mode
                        mobile: 'accordion' // menu set to accordion in mobile mode
                    },

                    accordion: {
                        autoScroll: false, // enable auto scrolling(focus) to the clicked menu item
                        expandAll: false // allow having multiple expanded accordions in the menu
                    }
                })
            },
            checkActiveRoute (menu) {
                let index = menu.findIndex(item => {
                    return item.route.name == this.activeRouteName
                })

                return index !== -1
            }
        },
        computed: {
            ...mapState({
                activeRouteName: state => state.route.name
            })
        }
    }
</script>
