#image_upload_preview{
  height: 250px;
  display: block;
  margin: 20px auto;

}
.preview-image{
  max-height: 500px!important;
  max-width: 750px!important;
};
.cms-thumbnail{
  display: block;
  width: 150px!important;
  height: 100px!important;
  margin: auto!important;
  border-radius: 0!important;
}
.thumbnail-cell{
  vertical-align: middle!important;
  text-align: center;
}
#article-modal > .modal-dialog{
  width: 60%;
}
.card-header{
  background-color: rgba(246, 246, 246, 1)!important;

}

.note-editor{

  .note-btn-group {
    .btn {
      padding: 5px 7px;
      background-color: #fff;
      border: 1px solid #eee;
    }
  }


}
.note-image-popover{
  position:absolute!important;
  background-color:#f5f5f5;
  top:-10px!important;
  left:0!important;
  right:0!important;
  border-top:0;
  border-left:0;
  border-right:0;
  -webkit-border-radius:0;
  border-radius:0;
}
.note-image-popover .arrow{
  display:none!important
}

.custom-file-label::after {
  content: "Tìm ảnh"!important;
  background-color: theme-color(primary)!important;
  color: #fff!important;
}


.modal-image {
  display:block;
  margin: auto;
  width: 100%;
}

.bootbox-close-button {
  margin: 15px 0px!important;
}