<template>
    <div class="form-group m-form__group" :class="{'has-danger': error}">
        <template v-if="type == 'text' || type == 'password'">
            <div class="form-group m-form__group m_form_basic row" >
                <label class="col-2 col-form-label" v-if="label">{{ label }} <span class="text-danger" v-if="required">(*)</span></label>
                <div class="col-7">
                    <input
                            ref="input"
                            :value="value"
                            :name="name"
                            :type="type" class="form-control m-input"
                            :placeholder="placeholder ? placeholder : (label ? label : '')"
                            @input="$emit('input', $event.target.value)" :disabled="isDisabled">
                    <div class="form-control-feedback" v-if="error">{{error}}</div>
                </div>
            </div>
        </template>

        <template v-else>
            <div class="form-group m-form__group m_form_basic row" >
                <label class="col-2 col-form-label" v-if="label">{{ label }} <span class="text-danger" v-if="required">(*)</span></label>
                <div class="col-7">
                     <textarea ref="input"
                               :value="value"
                               :type="type" class="form-control m-input"
                               :placeholder="placeholder ? placeholder : (label ? label : '')"
                               @input="$emit('input', $event.target.value)"
                               rows="5" :disabled="isDisabled"></textarea>
                    <div class="form-control-feedback" v-if="error">{{error}}</div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    export default {
        name: 'FormControlRow',
        props: {
            value: {},
            label: {
                type: String,
                default: null
            },
            name: {
                type: String,
                default: null
            },
            type: {
                type: String,
                default: 'text'
            },
            placeholder: {
                type: String,
                default: null
            },
            required: {
                type: Boolean,
                default: false
            },
            error: {
                type: String,
                default: null
            },
            isDisabled: {
                type: Boolean,
                default: false
            }
        },
        $_veeValidate: {
            value() {
                return $(this.$refs.input).val()
            },
            name() {
                return this.name
            }
        },
    }
</script>
