<template>
    <div class="row">
        <div class="col-xl-3 col-lg-4">
        <summary-profile></summary-profile>
        </div>
        <div class="col-xl-9 col-lg-8">
            <update-profile></update-profile>
        </div>
    </div>

</template>

<script>
    import Vue from 'vue'
    import SummaryProfile from './SummaryProfile';
    import UpdateProfile from './UpdateProfile';
    Vue.component('summary-profile',SummaryProfile);
    Vue.component('update-profile',UpdateProfile);


    const vm = {
        layout: 'default',
        middleware: 'auth',
        metaInfo() {
            return {title: this.$t('profile.my_profile')}
        },
        data: () => ({}),
        mounted() {

        },
        methods: {},
        computed: {}
    }

    export default vm
</script>
