<template>
    <div class="row">
        <div class="m-portlet   ">
            <div class="m-portlet__body">
                <div class="m-card-profile">
                    <div class="m-card-profile__pic">
                        <div class="m-card-profile__pic-wrapper">
                            <img src="/images/user4.jpg?035bc66f0bcde330c09503229745f219" alt=""
                                 class="m--img-rounded m--marginless">
                        </div>
                    </div>
                    <div class="m-card-profile__details">
                        <span class="m-card-profile__name">{{$store.state.auth.user.name}}</span><br>
                        <a href="" class="m-card-profile__email m-link">{{$store.state.auth.user.email}}</a>
                    </div>
                </div>
                <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
                    <li class="m-nav__separator m-nav__separator--fit"></li>
                    <router-link tag="li" class="m-nav__item" :to="{name: 'general.my_profile'}">
                        <a class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-profile-1"></i>
                            <span class="m-nav__link-title">
                                    <span class="m-nav__link-wrap">
                                        <span class="m-nav__link-text">
                                            {{$t('profile.my_profile')}}
                                        </span>
                                        <span class="m-nav__link-badge"><span
                                                class="m-badge m-badge--success" hidden></span></span>
                                    </span>
                                </span>
                        </a>
                    </router-link>
                    <li class="m-nav__item">
                        <a href="#" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-share"></i>
                            <span class="m-nav__link-text">{{$t('profile.activity')}}</span>
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a href="#" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                            <span class="m-nav__link-text">{{$t('profile.messages')}}</span>
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a href="#" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-time-3"></i>
                            <span class="m-nav__link-text">{{$t('profile.event')}}</span>
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a href="#" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                            <span class="m-nav__link-text">{{$t('profile.support')}}</span>
                        </a>
                    </li>
                </ul>
                <div class="m-portlet__body-separator"></div>
            </div>
        </div>
    </div>
</template>

<script>

    const vm = {
        layout: 'default',
        middleware: 'auth',
        data: () => ({}),
        mounted() {
        },
        methods: {},
        computed: {}
    }

    export default vm
</script>
