<template>
    <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
        <div class="m-portlet__head">
            <div class="m-portlet__head-tools">
                <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1"
                           role="tab">
                            <i class="flaticon-share m--hide"></i>
                            {{$t('profile.update_profile')}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="m_user_profile_tab_1">
                <form class="m-form m-form--fit m-form--label-align-right" ref="form"
                      @submit.prevent="validateForm">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">
                            <div class="col-10 ml-auto">
                                <h3 class="m-form__section">1. {{$t('profile.personal_details')}}</h3>
                            </div>
                        </div>

                        <form-control :label="$t('form.user.display_name')"
                                      :isRow="true"
                                      :data-vv-as="$t('form.user.display_name')"
                                      name="display_name"
                                      :required="true"
                                      v-model="form.display_name"
                                      v-validate="'required|max:255'"
                                      :error="errors.first('display_name') || form.errors.get('display_name')"/>

                        <form-control :label="$t('form.user.phone')"
                                      :isRow="true"
                                      :data-vv-as="$t('form.user.phone')"
                                      name="phone"
                                      v-model="form.phone"
                                      v-validate="'max:45|numeric'"
                                      :error="errors.first('phone') || form.errors.get('phone')"/>

                        <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                        <div class="form-group m-form__group row">
                            <div class="col-10 ml-auto">
                                <h3 class="m-form__section">{{$t('form.user.address')}}</h3>
                            </div>
                        </div>

                        <form-control :label="$t('form.user.address')"
                                      :isRow="true"
                                      :data-vv-as="$t('form.user.address')"
                                      name="address"
                                      v-model="form.address"
                                      v-validate="'max:255'"
                                      :error="errors.first('address') || form.errors.get('address')"/>

                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <div class="row">
                                <div class="col-2">
                                </div>
                                <div class="col-7">
                                    <button type="button" class="btn btn-accent m-btn m-btn--air m-btn--custom"
                                            @click="validateForm">
                                        {{$t('button.update')}}
                                    </button>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--air m-btn--custom"
                                            @click="resetUpdateProfile">
                                        {{ $t('button.cancel')}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import Form from 'vform'
    import {API_USER_UPDATE_PROFILE} from '~/constants/url'
    import {SUCCESS} from '~/constants/code'
    import {notify, notifyTryAgain, notifyUpdateSuccess, notifyAddSuccess} from '~/helpers/bootstrap-notify'

    const vm = {
        layout: 'default',
        middleware: 'auth',
        data() {
            return {
                form: new Form({}),
                roleList: [],
            }
        },
        mounted() {
        },
        created() {
            this.form = new Form(this.$store.getters['auth/user'])
        },
        methods: {
            validateForm() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.updateProfile();
                    }
                })
            },
            async updateProfile() {
                try {
                    const {data} = await this.form.post(API_USER_UPDATE_PROFILE)

                    if (data.code == SUCCESS) {
                        notifyUpdateSuccess(this.$t('form.user.user'))
                        this.form = new Form(this.form)
                        this.$store.dispatch('auth/fetchUser')

                    } else {
                        notifyTryAgain()
                    }
                } catch (e) {
                    console.log(e)
                    const {status} = e.response
                    if (status != 422) {
                        notifyTryAgain()
                    }
                }
            },
            resetUpdateProfile() {
                this.form = new Form(this.$store.getters['auth/user'])
            }
        },
        computed: {}
    }

    export default vm
</script>
