<template>
    <modal ref="modal" :title="isEdit ? $t('form.medical.update_title') : $t('form.medical.insert_title')"
           :onHidden="onModalHidden">
        <form class="m-form m-form--fit m-form--state m-form--label-align-right" ref="form"
              @submit.prevent="validateForm">

            <form-control :label="$t('form.medical.name')"
                          :data-vv-as="$t('form.medical.name')"
                          name="name" :required="true"
                          v-model="form.name"
                          v-validate="{required:true,max:255}"
                          :error="errors.first('name') || form.errors.get('name')"/>

            <form-control :label="$t('form.medical.introduce')"
                          :data-vv-as="$t('form.medical.introduce')"
                          name="introduce"
                          :type="'text-area'"
                          v-model="form.introduce"
                          v-validate="{}"
                          :error="errors.first('introduce') || form.errors.get('introduce')"/>

            <form-control :label="$t('form.medical.price')"
                          :data-vv-as="$t('form.medical.price')"
                          name="price" :required="true"
                          v-model="form.price"
                          v-validate="{required:true,numeric:true}"
                          :error="errors.first('price') || form.errors.get('price')"/>

            <form-control :label="$t('form.medical.quantity_in_repository')"
                          :data-vv-as="$t('form.medical.quantity_in_repository')"
                          name="quantity_in_repository" :required="true"
                          v-model="form.quantity_in_repository"
                          v-validate="{required:true,numeric:true}"
                          :error="errors.first('quantity_in_repository') || form.errors.get('quantity_in_repository')"/>

            <div class=" form-group m-form__group">
                <label for="image">{{$t('form.medical.image')}} <span class="text-danger">(*)</span></label>
                <div  :class="{'has-danger': errors.has('image')}" class="custom-file">


                    <input type='file'  class="form-control custom-file-input" name="image" ref="inputFile" v-validate.reject="'image|size:2048'" @change="imagePreview" :data-vv-as="$t('form.medical.image')"/>
                    <label class="form-control custom-file-label" for="image">{{$t('form.medical.choose_image')}}</label>

                    <div class="form-control-feedback"
                         v-show="errors.has('image')">{{errors.first('image')}}
                    </div>
                </div>
                <img v-show="previewing" id="image_upload_preview" :src="form.imagePreview" alt="" class="preview-image" ref="previewing"/>
            </div>

            <form-control
                    :selectOptions="{options:medicalTypeList,searchable:false,textField:'name'}"
                    v-model="form.medical_type"
                    :label="$t('form.medical.select_medical_type')"
                    :type="'select'"
                    :required="true"
                    name="selectMedicalType"
                    v-validate="'required'"
                    :name="'selectMedicalType'"
            />

            <form-control
                    :selectOptions="{options:companyList,searchable:false,textField:'name'}"
                    v-model="form.company"
                    :label="$t('form.medical.select_company_type')"
                    :type="'select'"
                    :required="true"
                    name="selectCompany"
                    v-validate="'required'"
                    :name="'selectCompany'"
            />


        </form>

        <template slot="footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('button.cancel')}}</button>
            <button type="button" class="btn btn-primary" @click="validateForm">
                {{ isEdit ? $t('button.update'): $t('button.add')}}
            </button>
        </template>
    </modal>
</template>

<script>
    import Form from 'vform'
    import {
        API_MEDICAL_STORE,
        API_MEDICAL_EDIT,
        API_MEDICAL_GET_MEDICAL_TYPE_LIST,
        API_MEDICAL_GET_COMPANY_LIST
    } from '~/constants/url'
    import {SUCCESS} from '~/constants/code'
    import {notify, notifyTryAgain, notifyUpdateSuccess, notifyAddSuccess} from '~/helpers/bootstrap-notify'
    import axios from 'axios'

    const defaultMedical = {
        name: '',
        introduce: '',
        medical_type: null,
        medical_type_id:null,
        company_id:null,
        company:null,
        image :'',
        imagePreview:'',
        thumbnail: '',
        price:0,
        quantity_in_repository:0
    }

    export default {
        name: 'MedicalModal',
        props: {
            onActionSuccess: {
                type: Function,
                default: () => {
                }
            },
        },
        data() {
            return {
                isEdit: false,
                form: new Form(defaultMedical),
                medicalTypeList: [],
                companyList: [],
                previewing: false,
            }
        },
        mounted() {
        },
        created: function () {
            this.loadData();
        },
        methods: {
            async loadData() {
                try {
                    let res = await axios.get(API_MEDICAL_GET_MEDICAL_TYPE_LIST)
                    let {data} = res
                    this.medicalTypeList = data.data
                } catch (e) {

                }

                try {
                    let res = await axios.get(API_MEDICAL_GET_COMPANY_LIST)
                    let {data} = res
                    this.companyList = data.data
                } catch (e) {

                }
            },
            validateForm() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        if (this.isEdit) {
                            this.updateItem()
                        } else {
                            this.addItem()
                        }
                    }
                })
            },
            show(item = null) {
                if (item != null) {
                    // console.log(item)
                    this.form = new Form(item)
                    this.form.imagePreview=this.form.image
                    this.isEdit = true
                    if(this.form.imagePreview==null){
                        this.previewing=false
                    }else {
                        $(this.$refs.inputFile).next('.custom-file-label').html(this.form.imagePreview);
                        console.log($(this.$refs.inputFile).val())
                        this.previewing=true
                    }
                } else {
                    if (this.medicalTypeList.length > 0) {
                        this.form.medical_type = this.medicalTypeList[0]
                        this.form.company = this.companyList[0]
                    }
                }
                this.$validator.reset()
                this.$refs.modal.show()
            },
            onModalHidden() {
                this.form = new Form(defaultMedical)
                this.isEdit = false
                this.$validator.reset()
                this.previewing=false
                $(this.$refs.inputFile).next('.custom-file-label').html('Chọn ảnh');
            },
            async addItem() {
                this.form.medical_type_id = this.form.medical_type['id']
                this.form.company_id = this.form.company['id']
                var dataPost = new FormData()
                for(var key in this.form){
                    dataPost.append(key,this.form[key])
                }
                axios.post(API_MEDICAL_STORE,dataPost)
                    .then( (response) => {
                        // console.log(response.data.code);
                        if (response.data.code == SUCCESS) {
                                    notifyAddSuccess(this.$t('form.medical.medical'))
                                    this.$refs.modal.hide()
                                    this.onActionSuccess()
                                } else {
                                    notifyTryAgain()
                                }
                    })
                    .catch(function (error) {
                        console.log(error);
                        // const {status} = e.response
                        //
                        //     if (status != 422) {
                        //         notifyTryAgain()
                        //     }
                    });
            },
            async updateItem() {
                this.form.medical_type_id = this.form.medical_type['id']
                this.form.company_id = this.form.company['id']
                var dataPost = new FormData()
                for(var key in this.form){
                    dataPost.append(key,this.form[key])
                }
                axios.post(API_MEDICAL_EDIT,dataPost)
                    .then( (response) => {
                        // console.log(response.data.code);
                        if (response.data.code == SUCCESS) {
                            notifyAddSuccess(this.$t('form.medical.medical'))
                            this.$refs.modal.hide()
                            this.onActionSuccess()
                        } else {
                            notifyTryAgain()
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        // const {status} = e.response
                        //
                        //     if (status != 422) {
                        //         notifyTryAgain()
                        //     }
                    });
            },
            imagePreview(e){
                // console.log($(this.$refs.inputFile).val())
                this.previewing=false
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;

                $(this.$refs.inputFile).next('.custom-file-label').html(files[0].name);
                this.createImage(files[0]);


            },
            createImage(file) {
                var image = new Image();
                var reader = new FileReader();
                var vm = this;
                reader.onload = (e) => {
                    vm.form.imagePreview = e.target.result;
                    vm.form.image = file;
                    // console.log(file)
                    this.previewing = true;
                };
                reader.readAsDataURL(file);
            },
        },
        computed: {}
    }
</script>
