<template>
    <div>
        <portlet :title="$t('form.medical.list')">
            <!--&gt;-->
            <data-table ref="table" :columns="columns" :url="listingUrl" :actions="actions"/>

            <v-button color="accent" style-type="air"
                      class="m-btn--custom m-btn--icon"
                      slot="tool"
                      @click.native="showModal">
                    <span>
                        <i class="la la-plus"></i>
                        <span>{{ $t('button.add')}}</span>
                    </span>
            </v-button>
        </portlet>

        <medical-modal ref="modal" :on-action-success="updateItemSuccess"/>
    </div>
</template>

<script>
    import Vue from 'vue'
    import moment from 'moment'
    import bootbox from 'bootbox'
    import axios from 'axios'
    import {API_MEDICAL_LISTING, API_MEDICAL_DELETE} from '~/constants/url'
    import {generateTableAction, htmlEscapeEntities} from '~/helpers/tableHelper'
    import {notify, notifyTryAgain, notifyDeleteSuccess} from '~/helpers/bootstrap-notify'
    import MedicalModal from './MedicalModal'
    import {checkPermission} from '~/helpers/checkPermission'


    Vue.component('medical-modal', MedicalModal)


    const vm = {
        layout: 'default',
        middleware: 'auth',
        metaInfo() {
            return {title: this.$t('menu.ctv.medical')}
        },
        data() {
            return {
                listingUrl: API_MEDICAL_LISTING,
                columns: [
                    {
                        data: 'name',
                        title: 'Tên bệnh'
                    },
                    {
                        data: 'medical_type.name',
                        title: 'Nhóm thuốc',
                        orderable:false
                    },
                    {
                        data: 'introduce',
                        title: 'Hướng dẫn chữa bệnh',
                    },
                    {
                        data: 'price',
                        title: 'Giá',
                        render(data){
                            if(data!=null){
                                return data + ' VND'
                            }else {
                                return '- VND'
                            }
                        },
                        width:'80px'
                    },
                    {
                        data: 'quantity_in_repository',
                        title: 'Số lượng trong kho',
                        width:'80px'
                    },
                    {
                        data: 'thumbnail',
                        title: 'Ảnh',
                        name: 'Ảnh',
                        orderable: false,
                        width: '180px',
                        className: 'thumbnail-cell',
                        render(data){
                            if(data==null){
                                return'-'
                            }else {
                                return'<img src="'+data+'" class="cms-thumbnail">'
                            }
                        }
                    },
                    {
                        data: 'company.name',
                        title: 'Công ty',
                        orderable:false
                    },
                    {
                        data: 'updated_at',
                        title: 'Ngày cập nhật',
                        orderable: false,
                        render(data) {
                            if(data!=null){
                                return moment(data, 'YYYY-MM-DD HH:mm:ss').format('DD-MM-YYYY');
                            }else {
                                return '-'
                            }
                        }
                    },
                    {
                        data: null,
                        title: 'Hành động',
                        orderable: false,
                        className: 'text-center',
                        render() {
                            return generateTableAction('edit', 'showDetail') +
                                generateTableAction('delete', 'deleteItem')
                        }
                    }
                ],
                loading: true,
            }
        },
        mounted() {
            // console.log(checkPermission(this.$store.state.auth.perms,'medical.management'))
        },
        created() {
        },
        methods: {

            showDetail(table, rowData) {
                this.$refs.modal.show(rowData)
            },
            deleteItem(table, rowData) {
                let $this = this

                bootbox.confirm({
                    title: this.$t('alert.notice'),
                    message: this.$t('form.medical.delete_confirm', [htmlEscapeEntities(rowData.name)]),
                    buttons: {
                        cancel: {
                            label: this.$t('button.cancel')
                        },
                        confirm: {
                            label: this.$t('button.ok')
                        }
                    },
                    callback: async function (result) {
                        if (result) {
                            try {
                                let res = await axios.post(API_MEDICAL_DELETE, {id: rowData.id})
                                const {status, data} = res

                                if (status == 200 && data.code == 0) {
                                    notifyDeleteSuccess($this.$t('form.medical.medical'))

                                    $this.$refs.table.reload()
                                } else {
                                    notifyTryAgain()
                                }
                            }
                            catch (e) {
                                notifyTryAgain()
                            }
                        }
                    }
                })
            },
            updateItemSuccess() {
                this.$refs.table.reload()
            },
            showModal() {
                this.$refs.modal.show()
            }
        },
        computed: {
            actions() {
                return [
                    {
                        type: 'click',
                        name: 'showDetail',
                        action: this.showDetail
                    },
                    {
                        type: 'click',
                        name: 'deleteItem',
                        action: this.deleteItem
                    },
                ]
            }
        }
    }

    export default vm
</script>
