<template>
    <modal ref="modal" :title="isEdit ? $t('form.medical_type.update_title') : $t('form.medical_type.insert_title')"
           :onHidden="onModalHidden">
        <form class="m-form m-form--state m-form--label-align-right"
              @submit.prevent="validateForm">

            <form-control :label="$t('form.medical_type.name')"
                          :data-vv-as="$t('form.medical_type.name')"
                          name="name" :required="true"
                          v-model="form.name"
                          v-validate="'required|max:100'"
                          :error="errors.first('name') || form.errors.get('name')"/>

            <form-control :label="$t('form.medical_type.description')"
                          :data-vv-as="$t('form.medical_type.description')"
                          name="description"
                          type="textarea"
                          v-model="form.description"
                          v-validate="'max:255'"
                          :error="errors.first('description')|| form.errors.get('description')"/>
        </form>

        <template slot="footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('button.cancel')}}</button>
            <button type="button" class="btn btn-primary" @click="validateForm">
                {{ isEdit ? $t('button.update'): $t('button.add')}}
            </button>
        </template>
    </modal>
</template>

<script>
    import Form from 'vform'
    import { API_MEDICAL_TYPE_STORE, API_MEDICAL_TYPE_EDIT } from '~/constants/url'
    import { SUCCESS } from '~/constants/code'
    import { notify, notifyTryAgain, notifyUpdateSuccess, notifyAddSuccess } from '~/helpers/bootstrap-notify'

    const defaultMedicalType = {
        name: '',
        description: ''
    }

    export default {
        name: 'MedicalTypeModal',
        props: {
            onActionSuccess: {
                type: Function,
                default: () => {
                }
            }
        },
        data () {
            return {
                isEdit: false,
                form: new Form(defaultMedicalType)
            }
        },
        methods: {
            validateForm () {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        if (this.isEdit) {
                            this.updateItem()
                        } else {
                            this.addItem()
                        }
                    }
                })
            },
            show (item = null) {
                if (item != null) {
                    this.form = new Form(item)
                    this.isEdit = true
                }

                this.$refs.modal.show()
            },
            onModalHidden () {
                this.form = new Form(defaultMedicalType)
                this.isEdit = false
                this.$validator.reset()
            },
            async addItem () {
                try {
                    const { data } = await this.form.post(API_MEDICAL_TYPE_STORE)

                    if (data.code == SUCCESS) {
                        notifyAddSuccess(this.$t('form.medical_type.medical_type'))
                        this.$refs.modal.hide()
                        this.onActionSuccess()
                    } else {
                        notifyTryAgain()
                    }
                }
                catch (e) {
                    const { status } = e.response

                    if (status != 422) {
                        notifyTryAgain()
                    }
                }
            },
            async updateItem () {
                try {
                    const { data } = await this.form.post(API_MEDICAL_TYPE_EDIT)

                    if (data.code == SUCCESS) {
                        notifyUpdateSuccess(this.$t('form.medical_type.medical_type'))
                        this.$refs.modal.hide()
                        this.onActionSuccess()
                    } else {
                        notifyTryAgain()
                    }
                }
                catch (e) {
                    const { status } = e.response

                    if (status != 422) {
                        notifyTryAgain()
                    }
                }

            }
        }
    }
</script>
