<template>
    <div>
        <portlet :title="$t('form.medical_type.list')">
            <data-table ref="table" :columns="columns" :url="listingUrl" :actions="actions"/>

            <v-button color="accent" style-type="air"
                      class="m-btn--custom m-btn--icon"
                      slot="tool"
                      @click.native="showModal">
                    <span>
                        <i class="la la-plus"></i>
                        <span>{{ $t('button.add')}}</span>
                    </span>
            </v-button>
        </portlet>

        <medical-type-modal ref="modal" :on-action-success="updateItemSuccess"/>
    </div>
</template>

<script>
    import Vue from 'vue'
    import bootbox from 'bootbox'
    import axios from 'axios'
    import moment from 'moment'

    import { API_MEDICAL_TYPE_LISTING, API_MEDICAL_TYPE_DELETE } from '~/constants/url'
    import { generateTableAction, htmlEscapeEntities } from '~/helpers/tableHelper'
    import { notify, notifyTryAgain, notifyDeleteSuccess } from '~/helpers/bootstrap-notify'

    import MedicalTypeModal from './MedicalTypeModal'

    Vue.component('medical-type-modal', MedicalTypeModal)

    const vm = {
        layout: 'default',
        middleware: 'auth',
        metaInfo () {
            return { title: this.$t('menu.ctv.medical_type') }
        },
        data: () => ({
            listingUrl: API_MEDICAL_TYPE_LISTING,
            columns: [
                {
                    data: 'name',
                    title: 'Mã thuốc'
                },
                {
                    data: 'description',
                    title: 'Mô tả'
                },
                {
                    data: 'created_at',
                    title: 'Ngày tạo',
                    orderable: false,
                    render(data) {
                        if(data!=null){
                            return moment(data, 'YYYY-MM-DD HH:mm:ss').format('DD-MM-YYYY');
                        }else {
                            return '-'
                        }
                    },
                },
                {
                    data: 'updated_at',
                    title: 'Ngày cập nhật',
                    orderable: false,
                    render(data) {
                        if(data!=null){
                            return moment(data, 'YYYY-MM-DD HH:mm:ss').format('DD-MM-YYYY');
                        }else {
                            return '-'
                        }
                    }
                },
                {
                    data: null,
                    title: 'Hành động',
                    orderable: false,
                    className: 'text-center',
                    render () {
                        return generateTableAction('edit', 'showDetail') +
                            generateTableAction('delete', 'deleteItem')
                    }
                }
            ]
        }),
        mounted () {

        },
        methods: {
            showDetail (table, rowData) {
                this.$refs.modal.show(rowData)
            },
            deleteItem (table, rowData) {
                let $this = this

                bootbox.confirm({
                    title: this.$t('alert.notice'),
                    message: this.$t('form.medical_type.delete_confirm', [htmlEscapeEntities(rowData.name)]),
                    buttons: {
                        cancel: {
                            label: this.$t('button.cancel')
                        },
                        confirm: {
                            label: this.$t('button.ok')
                        }
                    },
                    callback: async function (result) {
                        if (result) {
                            try {
                                let res = await axios.post(API_MEDICAL_TYPE_DELETE, { id: rowData.id })
                                const { status, data } = res

                                if (status == 200 && data.code == 0) {
                                    notifyDeleteSuccess($this.$t('form.medical_type.medical_type'))

                                    $this.$refs.table.reload()
                                } else {
                                    notifyTryAgain()
                                }
                            }
                            catch (e) {
                                notifyTryAgain()
                            }
                        }
                    }
                })
            },
            updateItemSuccess () {
                this.$refs.table.reload()
            },
            showModal () {
                this.$refs.modal.show()
            }
        },
        computed: {
            actions () {
                return [
                    {
                        type: 'click',
                        name: 'showDetail',
                        action: this.showDetail
                    },
                    {
                        type: 'click',
                        name: 'deleteItem',
                        action: this.deleteItem
                    }
                ]
            }
        }
    }

    export default vm
</script>
