<template>
    <modal ref="modal" :title="isEdit ? $t('form.company.update_title') : $t('form.company.insert_title')"
           :onHidden="onModalHidden">
        <form class="m-form m-form--state m-form--label-align-right"
              @submit.prevent="validateForm">

            <form-control :label="$t('form.company.name')"
                          :data-vv-as="$t('form.company.name')"
                          name="name" :required="true"
                          v-model="form.name"
                          v-validate="'required|max:100'"
                          :error="errors.first('name') || form.errors.get('name')"/>

            <form-control :label="$t('form.company.description')"
                          :data-vv-as="$t('form.company.description')"
                          name="description"
                          type="textarea"
                          v-model="form.description"
                          v-validate="'max:255'"
                          :error="errors.first('description')|| form.errors.get('description')"/>

            <form-control :label="$t('form.company.address')"
                          :data-vv-as="$t('form.company.address')"
                          name="address"
                          type="textarea"
                          :required="true"
                          v-model="form.address"
                          v-validate="'max:255|required'"
                          :error="errors.first('address')|| form.errors.get('address')"/>
        </form>

        <template slot="footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('button.cancel')}}</button>
            <button type="button" class="btn btn-primary" @click="validateForm">
                {{ isEdit ? $t('button.update'): $t('button.add')}}
            </button>
        </template>
    </modal>
</template>

<script>
    import Form from 'vform'
    import {API_COMPANY_STORE, API_COMPANY_EDIT} from '~/constants/url'
    import {SUCCESS} from '~/constants/code'
    import {notify, notifyTryAgain, notifyUpdateSuccess, notifyAddSuccess} from '~/helpers/bootstrap-notify'

    const defaultCompany = {
        name: '',
        description: '',
        address: ''
    }

    export default {
        name: 'CompanyModal',
        props: {
            onActionSuccess: {
                type: Function,
                default: () => {
                }
            }
        },
        data() {
            return {
                isEdit: false,
                form: new Form(defaultCompany)
            }
        },
        methods: {
            validateForm() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        if (this.isEdit) {
                            this.updateItem()
                        } else {
                            this.addItem()
                        }
                    }
                })
            },
            show(item = null) {
                if (item != null) {
                    this.form = new Form(item)
                    this.isEdit = true
                }

                this.$refs.modal.show()
            },
            onModalHidden() {
                this.form = new Form(defaultCompany)
                this.isEdit = false
                this.$validator.reset()
            },
            async addItem() {
                try {
                    const {data} = await this.form.post(API_COMPANY_STORE)

                    if (data.code == SUCCESS) {
                        notifyAddSuccess(this.$t('form.company.company'))
                        this.$refs.modal.hide()
                        this.onActionSuccess()
                    } else {
                        notifyTryAgain()
                    }
                }
                catch (e) {
                    const {status} = e.response

                    if (status != 422) {
                        notifyTryAgain()
                    }
                }
            },
            async updateItem() {
                try {
                    const {data} = await this.form.post(API_COMPANY_EDIT)

                    if (data.code == SUCCESS) {
                        notifyUpdateSuccess(this.$t('form.company.company'))
                        this.$refs.modal.hide()
                        this.onActionSuccess()
                    } else {
                        notifyTryAgain()
                    }
                }
                catch (e) {
                    const {status} = e.response

                    if (status != 422) {
                        notifyTryAgain()
                    }
                }

            }
        }
    }
</script>
