<template>
    <p></p>
</template>

<script>
    export default {
        layout: 'default',
        middleware: 'auth',
        metaInfo () {
            return { title: 'Dashboard' }
        },
        data: () => ({})
    }
</script>
