<template>
    <div>
        <portlet :title="$t('form.user.list')">
                 <!--v-if="canManageUser"-->
        <!--&gt;-->
            <data-table ref="table" :columns="columns" :url="listingUrl" :actions="actions"/>

            <v-button color="accent" style-type="air"
                      class="m-btn--custom m-btn--icon"
                      slot="tool"
                      @click.native="showModal">
                    <span>
                        <i class="la la-plus"></i>
                        <span>{{ $t('button.add')}}</span>
                    </span>
            </v-button>
        </portlet>

        <user-modal ref="modal" :on-action-success="updateItemSuccess"/>
        <renew-password :on-action-success="updateItemSuccess" ref="renewPasswordModal"></renew-password>
    </div>
</template>

<script>
    import Vue from 'vue'
    import bootbox from 'bootbox'
    import axios from 'axios'
    import {API_USER_LISTING, API_USER_DELETE} from '~/constants/url'
    import {generateTableAction, htmlEscapeEntities} from '~/helpers/tableHelper'
    import {notify, notifyTryAgain, notifyDeleteSuccess} from '~/helpers/bootstrap-notify'
    import {PASSWORD_REGEX, USER_NAME_REGEX} from '~/constants/regex'
    import {USER_MANAGEMENT} from '~/constants/permissions';
    import UserModal from './UserModal'
    import RenewPassword from './RenewPassword'
    import {checkPermission} from '~/helpers/checkPermission'

    Vue.component('user-modal', UserModal)
    Vue.component('renew-password', RenewPassword)


    const vm = {
        layout: 'default',
        middleware: 'auth',
        metaInfo() {
            return {title: this.$t('menu.admin.user')}
        },
        data() {
            // let canManageUser = checkPermission(this.$store.state.auth.perms, USER_MANAGEMENT);
            return {
                listingUrl: API_USER_LISTING,
                columns: [
                    {
                        data: 'name',
                        title: 'Tên người dùng'
                    },
                    {
                        data: 'display_name',
                        title: 'Tên hiển thị'
                    },
                    {
                        data: 'roles[0].name',
                        title: 'Nhóm người dùng',
                        orderable:false
                    },
                    {
                        data: 'email',
                        title: 'email'
                    },
                    {
                        data: null,
                        title: 'Hành động',
                        orderable: false,
                        className: 'text-center',
                        render() {
                            return generateTableAction('edit', 'showDetail') +
                                generateTableAction('delete', 'deleteItem') +
                                generateTableAction('renewpassword', 'showDetailModal', 'primary', 'la-lock', 'Đổi mật khẩu')
                        }
                    }
                ],
                roleList: [],
                loading: true,
                // canManageUser: canManageUser,
            }
        },
        mounted() {
            // console.log(checkPermission(this.$store.state.auth.perms,'user.management'))
        },
        created() {
        },
        methods: {

            showDetail(table, rowData) {
                this.$refs.modal.show(rowData)
            },
            showDetailModal(table, rowData) {
                this.$refs.renewPasswordModal.show(rowData)
            },
            deleteItem(table, rowData) {
                let $this = this

                bootbox.confirm({
                    title: this.$t('alert.notice'),
                    message: this.$t('form.user.delete_confirm', [htmlEscapeEntities(rowData.name)]),
                    buttons: {
                        cancel: {
                            label: this.$t('button.cancel')
                        },
                        confirm: {
                            label: this.$t('button.ok')
                        }
                    },
                    callback: async function (result) {
                        if (result) {
                            try {
                                let res = await axios.post(API_USER_DELETE, {id: rowData.id})
                                const {status, data} = res

                                if (status == 200 && data.code == 0) {
                                    notifyDeleteSuccess($this.$t('form.user.user'))

                                    $this.$refs.table.reload()
                                } else {
                                    notifyTryAgain()
                                }
                            }
                            catch (e) {
                                notifyTryAgain()
                            }
                        }
                    }
                })
            },
            updateItemSuccess() {
                this.$refs.table.reload()
            },
            showModal() {
                this.$refs.modal.show()
            }
        },
        computed: {
            actions() {
                return [
                    {
                        type: 'click',
                        name: 'showDetail',
                        action: this.showDetail
                    },
                    {
                        type: 'click',
                        name: 'deleteItem',
                        action: this.deleteItem
                    },
                    {
                        type: 'click',
                        name: 'showDetailModal',
                        action: this.showDetailModal
                    }
                ]
            }
        }
    }

    export default vm
</script>
