<template>
    <modal ref="modal" :title="isEdit ? $t('form.sick.update_title') : $t('form.sick.insert_title')"
           :onHidden="onModalHidden">
        <form class="m-form m-form--fit m-form--state m-form--label-align-right" ref="form"
              @submit.prevent="validateForm">

            <form-control :label="$t('form.sick.name')"
                          :data-vv-as="$t('form.sick.name')"
                          name="name" :required="true"
                          v-model="form.name"
                          v-validate="{required:true,max:255}"
                          :error="errors.first('name') || form.errors.get('name')"/>

            <form-control :label="$t('form.sick.introduce')"
                          :data-vv-as="$t('form.sick.introduce')"
                          name="introduce"
                          :type="'text-area'"
                          v-model="form.introduce"
                          v-validate="{}"
                          :error="errors.first('introduce') || form.errors.get('introduce')"/>

            <form-control
                    :selectOptions="{options:sickTypeList,searchable:false,textField:'name'}"
                    v-model="form.sick_type"
                    :label="$t('form.sick.select_sick_type')"
                    :type="'select'"
                    :required="true"
                    name="selectRole"
                    v-validate="'required'"
                    :name="'selectRole'"
            />

        </form>

        <template slot="footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('button.cancel')}}</button>
            <button type="button" class="btn btn-primary" @click="validateForm">
                {{ isEdit ? $t('button.update'): $t('button.add')}}
            </button>
        </template>
    </modal>
</template>

<script>
    import Form from 'vform'
    import {API_SICK_STORE, API_SICK_EDIT, API_SICK_GET_SICK_TYPE_LIST} from '~/constants/url'
    import {SUCCESS} from '~/constants/code'
    import {notify, notifyTryAgain, notifyUpdateSuccess, notifyAddSuccess} from '~/helpers/bootstrap-notify'
    import axios from 'axios'

    const defaultUser = {
        name: '',
        introduce:'',
        sick_type: null
    }

    export default {
        name: 'UserModal',
        props: {
            onActionSuccess: {
                type: Function,
                default: () => {
                }
            },
        },
        data() {
            return {
                isEdit: false,
                form: new Form(defaultUser),
                sickTypeList: [],
                isLoading: true
            }
        },
        mounted() {
        },
        created: function () {
            this.loadData();
        },
        methods: {
            async loadData() {
                try {
                    let res = await axios.get(API_SICK_GET_SICK_TYPE_LIST)
                    let {data} = res
                    this.sickTypeList = data.data
                    this.isLoading = false
                } catch (e) {

                }
            },
            validateForm() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        if (this.isEdit) {
                            this.updateItem()
                        } else {
                            this.addItem()
                        }
                    }
                })
            },
            show(item = null) {
                if (item != null) {
                    this.form = new Form(item)
                    this.isEdit = true
                } else {
                    if (this.sickTypeList.length > 0) {
                        this.form.sick_type = this.sickTypeList[0]
                    }
                }

                this.$refs.modal.show()
            },
            onModalHidden() {
                this.form = new Form(defaultUser)
                this.isEdit = false
                this.$validator.reset()
            },
            async addItem() {
                try {
                    const {data} = await this.form.post(API_SICK_STORE)

                    if (data.code == SUCCESS) {
                        notifyAddSuccess(this.$t('form.sick.sick'))
                        this.$refs.modal.hide()
                        this.onActionSuccess()
                    } else {
                        notifyTryAgain()
                    }
                }
                catch (e) {
                    const {status} = e.response

                    if (status != 422) {
                        notifyTryAgain()
                    }
                }
            },
            async updateItem() {
                try {
                    const {data} = await this.form.post(API_SICK_EDIT)

                    if (data.code == SUCCESS) {
                        notifyUpdateSuccess(this.$t('form.sick.sick'))
                        this.$refs.modal.hide()
                        this.onActionSuccess()
                    } else {
                        notifyTryAgain()
                    }
                }
                catch (e) {
                    const {status} = e.response

                    if (status != 422) {
                        notifyTryAgain()
                    }
                }

            }
        },
        computed: {}
    }
</script>
