<template>
    <div>
        <portlet :title="$t('form.log.list')">
            <data-table ref="table"
                        :columns="columns"
                        :url="listingUrl"
                        :orderColumnIndex="7"
                        :orderType="'desc'"
            ></data-table>

        </portlet>
    </div>
</template>

<script>
    import Vue from 'vue'
    import bootbox from 'bootbox'
    import axios from 'axios'
    import moment from 'moment'
    import { API_ACTIONS_LOG_LISTING } from '~/constants/url'
    import { generateTableAction, htmlEscapeEntities } from '~/helpers/tableHelper'
    import { notify, notifyTryAgain, notifyDeleteSuccess } from '~/helpers/bootstrap-notify'


    const vm = {
        layout: 'default',
        middleware: 'auth',
        metaInfo () {
            return { title: this.$t('menu.admin.log') }
        },
        data: () => ({
            listingUrl: API_ACTIONS_LOG_LISTING,
            columns: [
                {
                    data: 'action_name',
                    title: 'Mã hành động',
                    width: '100px'
                },
                {
                    data: 'name',
                    title: 'Tên người dùng',
                    width: '125px'
                },
                {
                    data: 'object_name',
                    title: 'Đối tượng tác động',
                    width: '150px'
                },
                {
                    data: 'object_id',
                    title: 'Mã đối tượng',
                    width: '125px'
                },
                {
                    data: 'old_value',
                    title: 'Trạng thái cũ',
                    orderable: false,
                    width: '275px'
                },
                {
                    data: 'new_value',
                    title: 'Trạng thái mới',
                    orderable: false,
                    width: '275px'
                },
                {
                    data: 'created_at',
                    title: 'Thời gian',
                    width: '150px',
                    render(data) {
                        return moment(data, 'YYYY-MM-DD HH:mm:ss').format('HH:mm:ss    DD-MM-YYYY');
                    }
                },
            ]
        }),
        mounted () {

        },
        methods: {

        },
        computed: {

        }
    }

    export default vm
</script>
