<template>
    <table class="table table-bordered table-hover"></table>
</template>

<style>
    @import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";
</style>

<script>
    import 'datatables.net'
    import 'datatables.net-bs4'

    export default {
        name: 'DataTable',
        props: {
            columns: {
                type: Array,
                default: () => []
            },
            url: String,
            actions: {
                type: Array,
                default: () => []
            },
            serverSide: {
                type: Boolean,
                default: true
            },
            processing: {
                type: Boolean,
                default: true
            },
            searching: {
                type: Boolean,
                default: true
            },
            lengthChange: {
                type: Boolean,
                default: true
            },
            ordering: {
                type: Boolean,
                default: true
            },
            orderColumnIndex: {
                type: Number,
                default: 1
            },
            orderType: {
                type: String,
                default: 'asc'
            },
            refresh: {
                type: Boolean,
                default: false
            },
            postData: {
                type: Object,
                default: null
            },
            dom: {
                type: String,
                default: '<\'row\'<\'col-md-6 col-sm-12\'l><\'col-md-6 col-sm-12\'f>r><\'table-scrollable\'t><\'row\'<\'col-md-5 col-sm-12\'i><\'col-md-7 col-sm-12\'p>>'
            }
        },
        data () {
            return {
                table: null
            }
        },
        mounted () {
            this.initTable()
        },
        methods: {
            initTable () {
                $.fn.dataTable.ext.errMode = 'none'
                $.extend($.fn.dataTableExt.oStdClasses, {
                    'sWrapper': 'dataTables_wrapper',
                    'sFilterInput': 'form-control',
                    'sLengthSelect': 'custom-select form-control'
                })

                let defaultConfigs = {
                    dom: this.dom,
                    processing: this.processing,
                    ordering: this.ordering,
                    searching: this.searching,
                    lengthChange: this.lengthChange,
                    serverSide: this.serverSide,
                    language: {
                        aria: {
                            sortAscending: 'Sắp xếp tăng dần',
                            sortDescending: 'Sắp xếp giảm dần'
                        },
                        processing: '<div class="m-loader m-loader--light m-loader--left"></div><span>&nbsp;&nbsp;&nbsp; ' + 'Đang tải' + '...</span>',
                        emptyTable: 'Không có bản ghi',
                        info: '_START_ - _END_ của _TOTAL_ bản ghi',
                        infoEmpty: '',
                        infoFiltered: '',
                        lengthMenu: '_MENU_ bản ghi',
                        search: '',
                        zeroRecords: 'Không có bản ghi',
                        paginate: {
                            previous: '<i class="la la-angle-left" aria-hidden="true"></i>',
                            next: '<i class="la la-angle-right" aria-hidden="true"></i>',
                            last: 'Cuối',
                            first: 'Đầu'
                        },
                        searchPlaceholder: 'Nhập từ khóa tìm kiếm...'
                    },
                    columns: this.tableColumns,
                    order: [this.orderColumnIndex, this.orderType],
                    drawCallback: function (settings) {
                        var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate')
                        pagination.toggle(this.api().page.info().pages > 0)
                    }
                }

                if (this.serverSide) {
                    $.extend(defaultConfigs, {
                        ajax: {
                            url: this.url,
                            type: 'POST',
                            dataType: 'json',
                            data: function (d) {
                                return $.extend({}, d, this.postData)
                            }.bind(this)
                        }
                    })
                }

                this.table = $(this.$el).DataTable(defaultConfigs)

                this.initIndexColumn()
                this.registerActions()
            },
            initIndexColumn () {
                if (this.serverSide) {
                    this.table.on('order.dt search.dt draw.dt', function () {
                        $('.tooltip-bootstrap').tooltip()
                        var info = this.table.page.info()
                        var start = info.start

                        this.table.column(0, {
                            search: 'applied',
                            order: 'applied'
                        }).nodes().each(function (cell, i) {
                            cell.innerHTML = i + 1 + start
                        })
                    }.bind(this))

                } else {
                    this.table.on('order.dt search.dt draw.dt', function () {
                        $('.tooltip-bootstrap').tooltip()
                        this.table.column(0, {
                            search: 'applied',
                            order: 'applied'
                        }).nodes().each(function (cell, i) {
                            cell.innerHTML = i + 1
                        })
                    }.bind(this))

                    this.table.draw()
                }
            },
            registerActions () {
                let vm = this

                if (this.actions.length > 0) {
                    this.actions.forEach(action => {
                        $(this.$el).on(action.type, '[data-action="' + action.name + '"]', function () {
                            var tr = $(this).closest('tr')
                            var data = $(vm.$el).DataTable().row(tr).data()

                            action.action(vm.table, data)
                        })
                    })
                }
            },
            reload (keepCurrentPage = true) {
                if (this.table != null) {
                    this.table.ajax.reload(null, !keepCurrentPage)
                }
            }
        },
        computed: {
            tableColumns: function () {
                var columns = this.columns
                columns.unshift({
                    data: null,
                    title: 'STT',
                    orderable: false,
                    className: 'tb-number'
                })

                columns.forEach(column => {
                    if (column.render === undefined) {
                        column.render = $.fn.dataTable.render.text()
                    }
                })

                return columns
            }
        },
    }
</script>
