<template>
    <div class="form-group m-form__group" :class="{'has-danger': error,'m_form_basic':isRow, 'row':isRow}">

        <label v-if="label" :class="{'col-2':isRow,'col-form-label':isRow}">{{ label }} <span class="text-danger"
                                                                                              v-if="required">(*)</span></label>

        <div v-if="type=='text-area'" :class="{'col-7':isRow}">
            <textarea ref="input"
                      :value="value"
                      :type="type" class="form-control m-input"
                      :placeholder="placeholder ? placeholder : (label ? label : '')"
                      @input="$emit('input', $event.target.value)"
                      rows="5" :disabled="isDisabled"></textarea>
            <div class="form-control-feedback" v-if="error">{{error}}</div>
        </div>

        <div v-else-if="type=='select'" :class="{'col-7':isRow}">
            <select2
                    class="form-control m-form__control"
                    ref="input"
                    :value="value"
                    :options="selectOptions.options!=undefined?selectOptions.options:[]"
                    :placeholder="placeholder"
                    :multiple="selectOptions.multiple!=undefined?selectOptions.multiple:false"
                    :searchable="selectOptions.searchable!=undefined?selectOptions.searchable:false"
                    :allow-clear="selectOptions.allowClear!=undefined?selectOptions.allowClear:false"
                    :textField="selectOptions.textField!=undefined?selectOptions.textField:'text'"
                    :idField="selectOptions.idField!=undefined?selectOptions.idField:'id'"
                    @input="(e)=>{this.$emit('input',e)}"
            ></select2>
            <div class="form-control-feedback" v-if="error">{{error}}</div>
        </div>


        <div v-else :class="{'col-7':isRow}">
            <input
                    ref="input"
                    :value="value"
                    :name="name"
                    :type="type" class="form-control m-input"
                    :placeholder="placeholder ? placeholder : (label ? label : '')"
                    @input="$emit('input', $event.target.value)" :disabled="isDisabled">
            <div class="form-control-feedback" v-if="error">{{error}}</div>
        </div>

    </div>
</template>

<script>
    export default {
        name: 'FormControl',
        props: {
            value: {},
            selectOptions: {
                type: Object,
                default: () => {
                }
            },
            label: {
                type: String,
                default: null
            },
            isRow: {
                type: Boolean,
                default: false
            },
            name: {
                type: String,
                default: null
            },
            type: {
                type: String,
                default: 'text'
            },
            placeholder: {
                type: String,
                default: null
            },
            required: {
                type: Boolean,
                default: false
            },
            error: {
                type: String,
                default: null
            },
            isDisabled: {
                type: Boolean,
                default: false
            },

        },
        data(){
            return {

            }
        },
        $_veeValidate: {
            value() {
                return $(this.$refs.input).val()
            },
            name() {
                return this.name
            }
        },
    }
</script>
