<template>
    <div class="modal fade" role="document">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" v-if="title !=''">
                    <h5 class="modal-title">{{ title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <slot></slot>
                </div>
                <div class="modal-footer" v-if="$slots.footer">
                    <slot name="footer"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Modal',
        props: {
            title: {
                type: String,
                default: ''
            },
            showFooter: {
                type: Boolean,
                default: true
            },
            onShow: {
                type: Function,
                default: () => {
                }
            },
            onShown: {
                type: Function,
                default: () => {
                }
            },
            onHide: {
                type: Function,
                default: () => {
                }
            },
            onHidden: {
                type: Function,
                default: () => {
                }
            }
        },
        mounted () {
            this.registerEvent()
        },
        methods: {
            registerEvent () {
                $(this.$el).on('show.bs.modal', function (e) {
                    this.onShow()
                }.bind(this))

                $(this.$el).on('shown.bs.modal', function (e) {
                    this.onShown()
                }.bind(this))

                $(this.$el).on('hide.bs.modal', function (e) {
                    this.onHide()
                }.bind(this))

                $(this.$el).on('hidden.bs.modal', function (e) {
                    this.onHidden()
                }.bind(this))
            },
            show () {
                $(this.$el).modal('show')
            },
            hide () {
                $(this.$el).modal('hide')
            }
        }
    }
</script>
