<template>
    <div class="m-scrollable"
         :style="{
            height: height + 'px'
         }">
        <slot></slot>
    </div>
</template>

<script>
    import PerfectScrollbar from 'perfect-scrollbar'

    export default {
        name: 'Scrollbar',
        props: {
            height: {
                type: Number,
                default: 200
            },
            mobileHeight: {
                type: Number,
                default: null
            },
            scrollToTop: {
                type: Boolean,
                default: false
            }
        },
        data: () => {
            return {
                scrollbar: null
            }
        },
        mounted() {
            this.initScrollbar()
            this.checkReachEndY()
        },
        watch: {
            scrollToTop: function () {
                if (this.scrollToTop == true) {
                    this.fscrolltoTop()
                    this.scrolltoTop=false
                }
            }
        },
        methods: {
            initScrollbar() {
                this.scrollbar = new PerfectScrollbar(this.$el, {
                    wheelSpeed: 0.5,
                    swipeEasing: true,
                    wheelPropagation: false,
                    minScrollbarLength: 40,
                    suppressScrollX: true
                })
            },
            checkReachEndY() {
                // console.log(this.scrollbar.reach.y)
                this.$el.addEventListener('ps-y-reach-end', () => {
                    this.$emit('reachYEnd')
                })
            },
            fscrolltoTop(){
                this.$el.scrollTop=0
            }
        }
    }
</script>
