<template>
    <select class="form-control m-select2">

    </select>
</template>

<script>
    import 'select2'
    import isEqual from 'lodash/isEqual'

    export default {
        name: 'Select2',
        props: {
            value: {},
            options: {
                type: Array,
                default: () => []
            },
            placeholder: {
                type: String,
                default: 'Vui lòng chọn một lựa chọn...'
            },
            multiple: {
                type: Boolean,
                default: false
            },
            searchable: {
                type: Boolean,
                default: true
            },
            allowClear: {
                type: Boolean,
                default: false
            },
            idField: {
                type: String,
                default: 'id'
            },
            textField: {
                type: String,
                default: 'text'
            }
        },
        mounted () {
            this.initControl()
        },
        methods: {
            initControl () {
                let vm = this

                let selectedValue = this.getOriginSelectedValue(this.value)

                $(this.$el).select2({
                    width: '100%',
                    placeholder: this.placeholder,
                    data: this.mapOptions,
                    multiple: this.multiple,
                    minimumResultsForSearch: this.searchable ? 0 : -1,
                    allowClear: this.allowClear
                })
                    .val(selectedValue)
                    .trigger('change')
                    .on('change', function () {
                        let data = $(vm.$el).select2('data')

                        vm.$emit('input', vm.getOriginSelected(data))
                    })
            },
            getOriginSelected (currentItem) {
                let selected = null

                if (currentItem != null) {
                    if (!this.multiple) {
                        if (currentItem.length != 0) {
                            selected = this.options.find(item => item[this.idField] == (Array.isArray(currentItem) ? currentItem[0][this.idField] : currentItem[this.idField]))
                        }
                    } else {
                        selected = this.options.filter(item => currentItem.findIndex(o => o[this.idField] == item[this.idField]) > -1)
                    }
                }

                return selected
            },
            getOriginSelectedValue (currentItem) {
                let selected = this.getOriginSelected(currentItem)

                if (!this.multiple) {
                    return selected ? selected[this.idField] : null
                } else {
                    return selected.map(item => item[this.idField])
                }
            }
        },
        watch: {
            value: function (newVal, oldVal) {
                if (!isEqual(newVal, oldVal)) {
                    let selectedValue = this.getOriginSelectedValue(newVal)

                    $(this.$el)
                        .val(selectedValue)
                        .trigger('change')
                }
            },
            options: function (options) {
                $(this.$el).empty().select2({ data: this.mapOptions })
            },
            destroyed: function () {
                $(this.$el).off().select2('destroy')
            }
        },
        computed: {
            mapOptions () {
                return this.options.map(item => {
                    let obj = Object.assign({}, item)

                    obj.id = item.id || item[this.idField]
                    obj.text = item.text || item[this.textField]

                    return obj
                })
            }
        }
    }
</script>
