<template>
    <dropdown
            extra-class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown--large m-dropdown--header-bg-fill m-dropdown--mobile-full-width"
            header-class="m-nav__link"
            align="center">
        <template slot="header">
            <span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger"></span>
            <span class="m-nav__link-icon"><i class="flaticon-alarm"></i></span>
        </template>

        <template slot="content">
            <div class="m-dropdown__header m--align-center">
                <span class="m-dropdown__header-title">{{systemErrorListLength}} thông báo mới</span>
            </div>
            <div class="m-dropdown__body">
                <div class="m-dropdown__content">
                    <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link " data-toggle="tab"
                               href="#topbar_notifications_notifications" role="tab">
                                Thông báo
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item" >
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#system_error"
                               role="tab">Thông báo hệ thống</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane " id="topbar_notifications_notifications" role="tabpanel">
                            <scrollbar :height="250" :mobile-height="200">
                                <div class="m-list-timeline m-list-timeline--skin-light">
                                    <div class="m-list-timeline__items">
                                        <div class="m-list-timeline__item">
                                            <span
                                                    class="m-list-timeline__badge -m-list-timeline__badge--state-success"></span>
                                            <span class="m-list-timeline__text">12 new users registered</span>
                                            <span class="m-list-timeline__time">Just now</span>
                                        </div>
                                        <div class="m-list-timeline__item">
                                            <span class="m-list-timeline__badge"></span>
                                            <span class="m-list-timeline__text">System shutdown <span
                                                    class="m-badge m-badge--success m-badge--wide">pending</span></span>
                                            <span class="m-list-timeline__time">14 mins</span>
                                        </div>
                                        <div class="m-list-timeline__item">
                                            <span class="m-list-timeline__badge"></span>
                                            <span class="m-list-timeline__text">New invoice received</span>
                                            <span class="m-list-timeline__time">20 mins</span>
                                        </div>
                                        <div class="m-list-timeline__item">
                                            <span class="m-list-timeline__badge"></span>
                                            <span class="m-list-timeline__text">DB overloaded 80% <span
                                                    class="m-badge m-badge--info m-badge--wide">settled</span></span>
                                            <span class="m-list-timeline__time">1 hr</span>
                                        </div>
                                        <div class="m-list-timeline__item">
                                            <span class="m-list-timeline__badge"></span>
                                            <span class="m-list-timeline__text">System error - <a href="#"
                                                                                                  class="m-link">Check</a></span>
                                            <span class="m-list-timeline__time">2 hrs</span>
                                        </div>
                                        <div class="m-list-timeline__item m-list-timeline__item--read">
                                            <span class="m-list-timeline__badge"></span>
                                            <span href="" class="m-list-timeline__text">New order received <span
                                                    class="m-badge m-badge--danger m-badge--wide">urgent</span></span>
                                            <span class="m-list-timeline__time">7 hrs</span>
                                        </div>
                                    </div>
                                </div>
                            </scrollbar>
                        </div>
                        <div class="tab-pane active" id="system_error" role="tabpanel">
                            <scrollbar :height="250" :mobile-height="200" v-on:reachYEnd="loadMoreData"
                                       :scrollToTop="scrollToTop">
                                <div class="m-list-timeline m-list-timeline--skin-light">
                                    <div class="m-list-timeline__items">
                                        <div class="m-list-timeline__item notification"
                                             :class="{'m-list-timeline__item--read':readAt(noti)}"
                                             v-for="noti in systemErrorList"
                                             @click="clickNotification(noti,'systemErrorList')"
                                        >
                                            <span class="m-list-timeline__badge"></span>
                                            <span class="m-list-timeline__text m-list-timeline__text_wrap">{{JSON.parse(noti.data).data.message}}</span>
                                            <span class="m-list-timeline__time">{{displayTime(noti.created_at)}}</span>
                                        </div>
                                        <clip-loader :loading="loadding" :color="'#716aca'"
                                                     :size="'20px'"></clip-loader>
                                    </div>
                                </div>
                            </scrollbar>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </dropdown>
</template>

<script>
    import Vue from 'vue'
    import axios from 'axios'
    import bootbox from 'bootbox'
    import moment from 'moment'
    import {htmlEscapeEntities} from '~/helpers/tableHelper'

    window.io = require('socket.io-client');
    import Echo from 'laravel-echo'

    export default {
        name: 'Notification',
        data() {
            return {
                systemErrorList: [],
                systemErrorListLength: 0,
                page: 1,
                loadding: false,
                scrollToTop: false,
            }
        },
        mounted() {
            this.setupLaravelEcho()
            this.fetchSystemErrorNotification()
        },
        methods: {
            setupLaravelEcho() {
                window.Echo = new Echo({
                    broadcaster: 'socket.io',
                    host: window.location.hostname + ':6001',
                    auth: {
                        headers: {
                            Authorization: 'Bearer ' + this.$store.getters['auth/token'],
                        }
                    }
                })

                window.Echo.private('App.Models.Role.1')
                    .notification((notification) => {

                        //parse new notification data to notification list
                        notification['created_at'] = moment().format('YYYY-MM-DD HH:mm:ss');
                        notification['data'] = JSON.stringify({
                            'typeNotification': notification['typeNotification'],
                            'role': notification['role'],
                            'data': notification['data']
                        })
                        notification['user_read']=null

                        //add new notification to notification list
                        if (notification.typeNotification == 'system_error') {
                            this.systemErrorList.unshift(notification);
                            this.systemErrorListLength++;
                        }

                    });
            },
            async fetchSystemErrorNotification(newNotification = false) {
                this.loadding = true
                if (newNotification == true) {
                    this.functionScrolltoTop()
                }
                await axios.post('/api/general/notification/listing', {'page': this.page, 'typeNotification':'system_error'}).then(response => {
                    this.systemErrorList = this.systemErrorList.concat(response.data['notifications'])
                    this.systemErrorListLength = response.data['count']
                })
                this.loadding = false
            },
            displayTime(time) {
                return moment(time, 'YYYY-MM-DD HH:mm:ss').fromNow()
            },
            readAt(noti) {
                if (noti.user_read == null) {
                    return false
                } else {
                    if (JSON.parse(noti.user_read).user.indexOf(this.$store.getters['auth/user'].id) == -1) {
                        return false
                    }
                    else {
                        return true
                    }
                }
            },
            clickNotification(noti, notificationType) {
                let message = JSON.parse(noti.data).data.message


                if (noti.user_read == null) {
                    this.readNotification(noti, notificationType)
                } else {
                    if (JSON.parse(noti.user_read).user.indexOf(this.$store.getters['auth/user'].id) == -1) {
                        this.readNotification(noti, notificationType)
                    }
                }
                bootbox.alert({
                    title: this.$t('alert.detail_notification'),
                    message: htmlEscapeEntities(message),
                })
            },
            readNotification(noti, notificationType) {

                //Xử lí thêm id người dùng vào array user_read
                var newReadAt;
                if (noti.user_read == null) {
                    newReadAt = {"user": [this.$store.getters['auth/user'].id]}
                } else {
                    let oldReadAt = JSON.parse(noti.user_read).user
                    oldReadAt.push(this.$store.getters['auth/user'].id)
                    newReadAt = {"user": oldReadAt}
                }

                axios.post('/api/general/notification/read', {
                    notificationId: noti.id,
                    newReadAt: JSON.stringify(newReadAt)
                })
                    .then(response => {
                        if (response.data.code == 0) {
                            if(notificationType == 'systemErrorList'){
                                this.systemErrorList.forEach(function (e) {
                                    if (e.id == noti.id) {
                                        e.user_read = JSON.stringify(newReadAt);
                                    }
                                })
                            }
                        }
                    })
            },
            async loadMoreData() {
                this.page += 1
                await this.fetchSystemErrorNotification()
            },
            functionScrolltoTop() {
                this.scrollToTop = true;
                setTimeout(() => {
                    this.scrollToTop = false
                }, 100)
            }
        }

    }
</script>
